.btn {
    width: 190px;
    height: 45px;
    border-radius: 23px;
    box-shadow: 0px 15px 16px 4px $darker-white;
    background-color: $violet;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    color: #fff;

    &:hover {
        animation: rotate 0.7s ease-in-out both;

        span {
            animation: storm 0.7s ease-in-out both;
            animation-delay: 0.06s;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(0.9) translateY(0);
        transform: scale(0.9) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}