.footer {
    background: $violet;
    padding: 40px 0;
    font-weight: 300;
    color: #fff;

    .container {
        padding: 0;
    }

    .logo2 {
        width: 75px;
        height: 74px;

        @include breakpoint(xs) {
            margin: 0 auto;
        }
    }

    .social {
        display: flex;

        a {
            padding: 0 10px;

            i {
                font-size: 25px;
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
        flex-wrap: wrap;
    }

    &__block {
        line-height: 20px;
        padding: 10px;
        margin: 0 auto;

        @include breakpoint(sm) {
            width: 45%;
        }

        @include breakpoint(xs) {
            flex-direction: column;
            width: 100% !important;
            text-align: center;
        }

        span {
            display: block;
        }

        a {
            display: block;
            color: #fff;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .phones,
    .email {
        @include breakpoint(sm) {
            width: 40%;
        }
    }

    .social {
        @include breakpoint(sm) {
            width: 100px;
        }

        @include breakpoint(xs) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &__bottom {
        display: flex;
        padding: 0 10px;
        justify-content: space-between;

        @include breakpoint(sm) {
            flex-direction: column;
            text-align: center;
        }
    }

    .btn {
        background: #fff;
        color: $violet;
        box-shadow: none;
        display: flex;
        width: 220px;
        font-weight: 400;
        opacity: 1 !important;

        @include breakpoint(sm) {
            width: 185px;
            font-size: 12px;
        }

        @include breakpoint(xs) {
            margin: 0 auto;
        }
    }
}