html,
body {
    overflow: hidden;

    @include breakpoint(lg) {
        overflow-y: visible;
    }
}

header {
    position: fixed;
    z-index: 10;
    background: #fff;
    background: rgba(255, 255, 255, 0.90);
    width: 100%;
    top: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    z-index: 10;
    position: relative;

    @media (max-width: 700px) {
        justify-content: end;
    }
}

.logo {
    &:hover {
        filter: grayscale(100%);
    }

    img {
        width: 175px;

        @include breakpoint(sm) {
            width: 150px;
        }
    }
}

.menuIcon {
    display: none;
    position: absolute;
    left: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: -15px;
    transform: translateX(-50%);

    @media (max-width: 700px) {
        display: block;
        left: 90%;
    }

    span {
        display: block;
        position: relative;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        background: $violet;
        margin: 5px 0;
        transition: all 0.5s ease;
        top: 0;
    }

    &.opened {
        span {
            top: 5px;
            position: absolute;
            height: 2px;

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}

.manu {
    width: 50%;
    padding-left: 15%;

    @include breakpoint(lg) {
        padding-left: 0;
    }

    @media(max-width: 700px) {
        position: absolute;
        width: 100%;
    }

    ul {
        display: flex;
        justify-content: space-between;

        @media(max-width: 700px) {
            flex-direction: column;
            height: 0;
            overflow: hidden;
            position: absolute;
            width: 100%;
            background: rgba(255, 255, 255, 0.9);
            top: 30px;
        }

        li {
            @media(max-width: 700px) {
                padding: 10px 0;
            }

            a {
                font-weight: 500;
                letter-spacing: 0.28px;
                color: $light-black;
                text-transform: uppercase;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    animation: storm 0.7s ease-in-out both;
                    animation-delay: 0.06s;
                    color: $violet;
                }
            }
        }

        &.opened {
            height: auto;
            padding: 40px 0;
        }
    }

}

.phone {
    font-weight: 500;
    color: $violet;

    @include breakpoint(sm) {
        padding: 0 10px;
    }

    &:hover {
        color: #000;
    }
}